.body-font-color{
    color: #333;
}
i.fa.fa-plus, i.fa.fa-reply {
    font-size: 15px;
    vertical-align: middle;
}
.add-new-btn {
    color: #fff;
    background-color: #1e91cf;
    border-color: #197bb0;
    margin: 0px 15px;
}
.add-new-btn:hover, .add-new-btn:focus {
    color: #fff;
    background-color: #1872a2;
    border-color: #12567a;
}
.back-btn {
    color: #666;
    background-color: #fff;
    border-color: #ddd;
    margin: 0px 15px 0px 0px;
}
.back-btn:hover, .back-btn:focus {
    color: #666;
    background-color: #e6e6e6;
    border-color: #bebebe;
}
::placeholder {
  color: #ccc !important;
  font-size: 12px;
  font-weight: normal;
  opacity: 1; /* Firefox */
}
.checbox {
    position: absolute;
    top: 2px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #ccc !important;
 font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #ccc !important;
 font-weight: normal;
}

.inputWithIcon {
    position: relative;
}
.form-control {
    font-size: 13px;
}
.inputWithIcon i {
    position: absolute;
    right: 0px;
    top: 3px;
    padding: 9px 8px;
    color: #495057;
    transition: 0.3s;
}
.inputWithIcon input[type="text"]:focus + i {
    color: rgb(255, 255, 255);
}
.icon-width{
    width: 25px;
}
.radio-btn {
    position: absolute;
    top: 2px;
}
.plus_n_minus_icons{
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 3px 5px;
    cursor: pointer;
    color: #ccc;
}
.mandatory{
    color: red;
}
.cursor-pointer{
    cursor: pointer;
}
.white-space-normal{
    white-space: normal;
}
.flower-list {
    padding-left: 0px;
}
.flower-list li {
    /*background: url(../../images/flower-icon.png) no-repeat left 10px;*/
    /*padding-left: 28px;*/
    padding-bottom: 10px;
    list-style: none;
    padding-top: 10px;
}
@media (max-width:  576px){
    .checbox {
        position: absolute;
        top: 3px;
    }
}

